/* All elements & The body */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: fixed;
}

/* Navigation */

/* Navigator (Hamburger) */

.navigator {
  transition-duration: 0.5s;
  width: 50px;
  height: 50px;
  background-color: #c70039;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 9;
}

.navigator:hover {
  cursor: pointer;
}

.navigator .nav-icon {
  transition-duration: 0.2s;
  position: absolute;
  width: 30px;
  height: 5px;
  background-color: white;
  top: 24px;
  left: 10px;
}
.navigator .nav-icon:before,
.navigator .nav-icon:after {
  transition-duration: 0.5s;
  background-color: white;
  position: absolute;
  content: "";
  width: 30px;
  height: 5px;
  left: 0px;
}

.navigator .nav-icon:before {
  top: -10px;
}

.navigator .nav-icon:after {
  top: 10px;
}

.navigator.open {
  transform: translateX(250px) translateY(50px);
  -webkit-transform: translateX(250px) translateY(50px);
}

.navigator.open .nav-icon {
  background-color: transparent;
}

.navigator.open .nav-icon:before,
.navigator.open .nav-icon:after {
  top: 0;
}

.navigator.open .nav-icon:before {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.navigator.open .nav-icon:after {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* Nav Menu */

nav {
  background-color: #c70039;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

nav img {
  width: 400px;
  height: 50px;
}


#buttons {
  width: 400px;
  height: 50px;
  vertical-align: top;
  padding: 10px;
  float: right;
  position: absolute;
  top: 0;
  right: 0;
}

#buttons button {
  height: 30px;
  margin-top: 0;
  display: inline-block;
  width: 70px;
  font-weight: bold;
  color: white;
}

#buttons button:nth-child(1) {
    background: DeepSkyBlue;
}

#buttons button:nth-child(2) {
    background: #06A817;
}

#buttons button:nth-child(3) {
    background: #0921C9;
}

#buttons button:nth-child(4) {
    background: #9B0027;
}

#buttons button:nth-child(5) {
    background: #FFC100;
}

.filter {
  width: 150px;
  display: block;
  height: 2em;
  margin: 25px 50px 25px 50px;
}

.filter option {
    text-align: center;
}

nav ul {
    height: 100%;
  width: 250px;
  overflow: auto;
}

nav ul:hover li {
  color: rgba(255, 255, 255, 0.5);
}

nav ul li {
  transition-duration: 0.25s;
  display: block;
  margin-top: 10px;
  padding-left: 25px;
  color: white;
  letter-spacing: 0.02em;
  text-align: left;
  border-bottom: 1px dashed;
}

nav ul li:hover {
  cursor: pointer;
  color: white;
}

/* Content + Map */

.content {
  transition-duration: 0.5s;
  background-color: white;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.content.open {
  transform: translateX(250px) translateY(50px);
  -webkit-transform: translateX(250px) translateY(50px);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

#map {
  height: 100%;
  margin: 0 auto;
}

/* Swicth between filter buttons
and dropdown depending on screen size*/

@media (max-width: 850px) {
    #buttons {
        display: none;
    }
}

@media (min-width: 849px) {
    .filter {
        display: none;
    }
}
